* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.first__section {
    background-image: url('../img/thumbs-up.png');
    height: 500px;
    color: #ffffff;
}